# Temel veri bilimi ve makine öğrenimi kütüphaneleri
numpy
scipy
pandas
scikit-learn
matplotlib
seaborn
plotly
jupyterlab
notebook
ipykernel
statsmodels
scikit-image
Pillow
joblib
xgboost
lightgbm
optuna

# Geliştirme yardımcıları
black
isort
flake8

# (İhtiyaca göre ek paket ekleyin)
forbiddenfruit
pandas_flavor
missingno
dython
category_encoders