#all hidden files and folders including virtual environments, .env, .venv, .cache etc.
.*
# all odp and odt files
*.odp
*.odt
*.mp4
*.jpg

DS eğitim/

# ignore all __pycache__ folders in any subdirectory
*/__pycache__/
# ignore all odevler folders and 00testler notebook in any subdirectory
*/odevler 
*/00testler.ipynb
# ignore all .pkl files in any subdirectory
*/*.pkl

# geçici ignorelar
ML/19_Regresyon ornek.ipynb
ML/14-DT-Telecom_churnModel - ÖDEVVVVV
ML/10b_E2E_with_cuda_cuml.ipynb
ML/loandefauldassignment.ipynb
ML/yurtseven_volkan_final_DA514-Take Home exam.ipynb
ML/LoR-Telecom_ChurnModel.ipynb
ML/25_multilabelmulticlass.ipynb
Statistics/Python ile İstatistik (TASLAK).ipynb
