#all hidden files and folders including virtual environments, .env, .venv, .cache etc.
.*
# all odp and odt files
*.odp
*.odt
# DS eğitim folder
DS eğitim/
# all ipynb files with "cevaplar" at the end of the filename
*cevaplar.ipynb

ML/19_Regresyon ornek.ipynb
ML/14-DT-Telecom_churnModel - ÖDEVVVVV
ML/test folder

*.mp4
*.jpg
0_Odevler/
